In [1]:
import pandas as pd
import numpy as np

In [2]:
def replace_dashes(df):
    """
    Question 1
    Replaces - with 0
    returns nd
    """

    nd = df.replace('-', 0)
    return nd

In [5]:
df = pd.read_csv('Laliga.csv', skiprows=[0])
nd = replace_dashes(df)
print(nd)

    Pos              Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1       Real Madrid       86   4385        2762     1647        552
1     2         Barcelona       86   4262        2762     1581        573
2     3   Atletico Madrid       80   3442        2614     1241        598
3     4          Valencia       82   3386        2664     1187        616
4     5   Athletic Bilbao       86   3368        2762     1209        633
..  ...               ...      ...    ...         ...      ...        ...
56   57             Xerez        1     34          38        8         10
57   58            Condal        1     22          30        7          8
58   59   Atletico Tetuan        1     19          30        7          5
59   60  Cultural Leonesa        1     14          30        5          4
60   61            Girona        1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
..       ...      ...          ...      ...       ...   ...    ...   ...
56        20       38           66        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0
60         0        0            0        0         0     0      0     0

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
..   ...  ..      ...           ...           ...
56     0   0  2009-10       2009-10            20
57     0   0  1956-57       1956-57            16
58     0   0  1951-52       1951-52            16
59     0   0  1955-56       1955-56            15
60     0   0  2017-18       2017-18             9

[61 rows x 20 columns]

In [6]:
def filter_on_start(df):
    """
    Question 2
    Filters row and returns 
    """

    teams = []
    for ind in df.index:
        print(df['Team'][ind], df['Debut'][ind]) 
        debut =  df['Debut'][ind]

        if '-' in debut:
            start, end = list(map(int, debut.split('-')))
            if start  >= 1930:
                teams.append(df['Team'][ind])
        else:
            if int(debut) >= 1930 and int(debut) <= 1980:
                teams.append(df['Team'][ind])
 
    return teams

In [7]:
print(filter_on_start(df))

Real Madrid 1929
Barcelona 1929
Atletico Madrid 1929
Valencia 1931-32
Athletic Bilbao 1929
Sevilla 1934-35
Espanyol 1929
Real Sociedad 1929
Zaragoza 1939-40
Real Betis 1932-33
Deportivo La Coruna 1941-42
Celta Vigo 1939-40
Valladolid 1948-49
Racing Santander 1929
Sporting Gijon 1944-45
Osasuna 1935-36
Malaga 1949-50
Oviedo 1933-34
Mallorca 1960-61
Las Palmas 1951-52
Villarreal 1998-99
Granada 1941-42
Rayo Vallecano 1977-78
Elche 1959-60
Getafe 2004-05
Hercules 1935-36
Tenerife 1961-62
Murcia 1940-41
Alaves 1930-31
Levante 1963-64
Salamanca 1974-75
Sabadell 1943-44
Cadiz 1977-78
Logrones 1987-88
Castellon 1941-42
Albacete 1991-92
Almeria 2007-08
Cordoba 1962-63
Compostela 1994-95
Recreativo 1978-79
Burgos CF 1971-72
Pontevedra 1963-64
Numancia 1999-00
Eibar 2014-15
Arenas 1929
Real Burgos 1990-91
Gimnastic 1947-48
Extremadura 1996-97
Merida 1995-96
Alcoyano 1945-46
Jaen 1953-54
Real Union 1929
AD Almeria 1979-80
Europa 1929
Lleida 1950-51
Leganes 2016-17
Xerez 2009-10
Condal 1956-57
Atletico Tetuan 1951-52
Cultural Leonesa 1955-56
Girona 2017-18
['Valencia', 'Sevilla', 'Zaragoza', 'Real Betis', 'Deportivo La Coruna', 'Celta Vigo', 'Valladolid', 'Sporting Gijon', 'Osasuna', 'Malaga', 'Oviedo', 'Mallorca', 'Las Palmas', 'Villarreal', 'Granada', 'Rayo Vallecano', 'Elche', 'Getafe', 'Hercules', 'Tenerife', 'Murcia', 'Alaves', 'Levante', 'Salamanca', 'Sabadell', 'Cadiz', 'Logrones', 'Castellon', 'Albacete', 'Almeria', 'Cordoba', 'Compostela', 'Recreativo', 'Burgos CF', 'Pontevedra', 'Numancia', 'Eibar', 'Real Burgos', 'Gimnastic', 'Extremadura', 'Merida', 'Alcoyano', 'Jaen', 'AD Almeria', 'Lleida', 'Leganes', 'Xerez', 'Condal', 'Atletico Tetuan', 'Cultural Leonesa', 'Girona']

In [9]:
def top_5_teams(df):
    df[ ["Points"] ] = df[ ["Points"] ].apply(pd.to_numeric)
    
    top5 = df.nlargest(5, "Points")

    teams = []
    for ind in top5.index:
        teams.append( top5['Team'][ind] )

    return teams

In [10]:
print(top_5_teams(nd))

['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia', 'Athletic Bilbao']

In [11]:
def Goal_diff_count(df):
    
    teams = []
    for ind in df.index:
        teams.append( (df['Team'][ind], int(df['GoalsAgainst'][ind]) - int(df['GoalsFor'][ind])) )

    max_diff_team = max(teams, key = lambda x: x[1])
    min_diff_team = min(teams, key = lambda x: x[1])

    return max_diff_team[0], min_diff_team[0]

In [12]:
print(Goal_diff_count(nd))

('Racing Santander', 'Real Madrid')

In [13]:
def add_winning_percent_column(df):

    percent_list = []
    for ind in df.index:
        total_matches = int(df['GamesPlayed'][ind]) + int(df['GamesWon'][ind]) + int(df['GamesDrawn'][ind])
        if total_matches <= 0.0:
            percent_list.append(0)
            continue
        win_percent = (int(df['GamesWon'][ind])*1.0) / total_matches
        percent_list.append(win_percent)

    df["Winning Percent"] = percent_list

In [14]:
add_winning_percent_column(nd)
print(nd)

    Pos              Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0     1       Real Madrid       86    4385        2762     1647        552
1     2         Barcelona       86    4262        2762     1581        573
2     3   Atletico Madrid       80    3442        2614     1241        598
3     4          Valencia       82    3386        2664     1187        616
4     5   Athletic Bilbao       86    3368        2762     1209        633
..  ...               ...      ...     ...         ...      ...        ...
56   57             Xerez        1      34          38        8         10
57   58            Condal        1      22          30        7          8
58   59   Atletico Tetuan        1      19          30        7          5
59   60  Cultural Leonesa        1      14          30        5          4
60   61            Girona        1       0           0        0          0

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
0        563     5947         3140  ...        23     8      8     3     4
1        608     5900         3114  ...        25    12     12     4     6
2        775     4534         3309  ...         8    16      9     7     6
3        861     4398         3469  ...         6    10     11    10     7
4        920     4631         3700  ...         7    10      5     8    10
..       ...      ...          ...  ...       ...   ...    ...   ...   ...
56        20       38           66  ...         0     0      0     0     0
57        15       37           57  ...         0     0      0     0     0
58        18       51           85  ...         0     0      0     0     0
59        21       34           65  ...         0     0      0     0     0
60         0        0            0  ...         0     0      0     0     0

     T    Debut Since/LastApp BestPosition  Winning Percent
0   79     1929          1929            1         0.331990
1   83     1929          1929            1         0.321603
2   56     1929       2002-03            1         0.278689
3   50  1931-32       1987-88            1         0.265726
4   49     1929          1929            1         0.262598
..  ..      ...           ...          ...              ...
56   0  2009-10       2009-10           20         0.142857
57   0  1956-57       1956-57           16         0.155556
58   0  1951-52       1951-52           16         0.166667
59   0  1955-56       1955-56           15         0.128205
60   0  2017-18       2017-18            9         0.000000

[61 rows x 21 columns]

In [15]:
def group_teams_by_best_position(df):
    
    position_points = {}

    for ind in df.index:
        position_points[df['BestPosition'][ind]] = int( position_points.get(df['BestPosition'][ind], 0) ) + int(df['Points'][ind])

    return position_points

In [16]:
print(group_teams_by_best_position(nd))

{1: 27933, 3: 5221, 2: 6904, 4: 6563, 6: 2113, 8: 1134, 5: 1884, 11: 445, 7: 1186, 12: 511, 10: 450, 17: 266, 9: 96, 19: 81, 14: 71, 16: 81, 20: 34, 15: 14}